.wrapper {
  width: 300px;
  padding-right: 8px;
}
.log-in {
  padding: 20px 8px 24px;
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}
.log-in-title {
  color: rgba(22, 24, 35, 0.5);
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 20px;
}
.footer {
  padding: 16px 8px 0px 8px;
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}
.sideBarBtn {
  height: 52px;
  width: 100%;
  border-radius: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover .make-effects {
    font-size: 2rem;
  }
  margin-bottom: 30px;
}
.img {
  width: 276px;
  height: 52px;
  border-radius: 8px;
}
.make-effects {
  font-weight: 800;
  font-size: 1.8rem;
  position: absolute;
}
.footer-btn-collection {
  margin-bottom: 8px;
}
.footer-sidebar-btn {
  margin: 6px 6px 0px 0px;
  font-weight: 600;
  background-color: transparent;
  color: rgba(22, 24, 35, 0.5);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
